:root {
    --primary-color: #6246E4;
    --primary-text-color: #2d2d2d;
    --font-roboto: 'Roboto', sans-serif;
}

/* general styles */

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: var(--font-roboto);
    color: var(--primary-text-color);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.8rem;
}

h4 {
    font-size: 2.4rem;
}

p,
a {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
}

.header-main-wrapper,
.brands,
.features,
.services-section,
.numbers-section,
.blog,
.testimonials {
    padding: 4rem 8rem;
}

.desc-text {
    font-size: 1.4rem;
}

.section-title {
    font-size: 4rem;
}

.section-desc {
    font-size: 1.8rem;

    margin: 2rem 0 4rem 0;
}

.cta-btn {
    font-size: 2.2rem;
    padding: 1rem 3rem;
    border-radius: 3rem;
}

.hero,
.services-section,
.numbers-section,
.testimonials {
    display: flex;
    gap: 4rem;
    align-items: center;
}

.features,
.article-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 4rem;
}

.features,
.services-section,
.numbers-section,
.blog,
.testimonials {
    margin-top: 4rem;
}

/* header and main wrapper */
.header-main-wrapper {
    color: #fff;

    background-color: var(--primary-color);
    background-image: url('../images/dotted-bg.png');
    background-repeat: no-repeat;
    background-position: -6rem 0;
}

.header-main-wrapper a {
    color: #fff;
}

/* navigation bar */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo span {
    font-size: 3rem;
    font-weight: bold;
}

.menu {
    border: none;
    background-color: transparent;
    width: 3.5rem;
    height: 3.5rem;
    display: none;
    cursor: pointer;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.nav a {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
}

.nav a:hover,
.nav a.active-link {
    background-color: #fff;
    color: var(--primary-color);
}

/* hero section */
.hero {
    margin: 4rem 0;
}

.hero-text h1 {
    font-size: 5rem;
    margin-bottom: 4rem;
}

.hero-text a {
    color: var(--primary-text-color);
    background-color: #fff;

    margin-top: 4rem;
}

/* brands section */
.brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;

    background-color: #f7fafd;
}

.brands img {
    width: 10rem;
    opacity: 0.2;
}

.brands img:last-child {
    opacity: 1;
}

/* features section */

.feature-card {
    padding: 4rem;
    background-color: #f7fafd;
    border-radius: 3rem;
}

.feature-card img {
    display: block;
    height: 10rem;
    margin: auto;
}

.feature-card .feature-title {
    font-weight: bold;
    font-size: 2.6rem;
    margin: 4rem 0 1rem 0;
}

.feature-card .feature-desc {
    font-size: 1.4rem;
}

/* services section */
.services-section {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('../images/dotted-bg.png');
    background-repeat: no-repeat, repeat-y;
    background-position: 100% top, right -5rem top;
}

.service-item {
    display: flex;
    align-items: center;
    gap: 2rem;

    padding: 2rem;
    margin-bottom: 2rem;
}

.service-item:nth-child(2) {
    padding-bottom: 4rem;
    border-radius: 3rem;
    box-shadow: 0px 16px 85px rgba(189, 223, 246, 0.45);
}

.service-item p {
    font-size: 2rem;
}

.service-item .round {
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 6rem;
    height: 6rem;

    color: #fff;

    border-radius: 50%;

    box-shadow: 0 2rem #f9f8f8;
}

.service-item:nth-child(1) .round {
    background-color: #f4dda0;
}

.service-item:nth-child(2) .round {
    background-color: #bcd5fc;
}

.service-item:nth-child(3) .round {
    background-color: #fac2cf;
}

/* numbers-section */

.numbers-section {
    gap: 8rem;

    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('../images/dotted-bg.png');
    background-position: -6rem 0;
    background-repeat: no-repeat;
}

.numbers-section>div {
    flex: 1 1 0;
}

.numbers>p {
    position: relative;
}

.numbers-desc a {
    color: #fff;
    background-color: var(--primary-color);
}

.numbers p {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.numbers p:nth-child(1) {
    width: 12rem;
    height: 12rem;
    background-color: rgba(249, 144, 182, 0.7);
    border-radius: 4rem;

    z-index: 40;
}

.numbers p:nth-child(1) .num-val {
    font-size: 2.5rem;
}

.numbers p:nth-child(1) .num-desc,
.numbers p:nth-child(3) .num-desc {
    font-size: 1.6rem;
}

.numbers p:nth-child(2),
.numbers p:nth-child(3) {
    width: 15rem;
    height: 15rem;
    border-radius: 5rem;
}

.numbers p:nth-child(2) {
    background-color: rgba(104, 222, 240, 0.7);

    margin-top: -14rem;
    margin-left: 10rem;

    z-index: 50;
}

.numbers p:nth-child(2) .num-val,
.numbers p:nth-child(3) .num-val {
    font-size: 3.5rem;
}

.numbers p:nth-child(2) .num-desc {
    font-size: 2.4rem;
}

.numbers p:nth-child(3) {
    background-color: #92bbfc;

    margin-left: 4rem;
    margin-top: -3.5rem;

    z-index: 30;
}

/* blog section */

.article-list {
    margin-top: 4rem;
}

.article {
    border-radius: 3rem;
    border: 1px solid #ececec;
}

.article-details-wrapper {
    padding: 2rem;
}

.blog-datetime,
.blog-datetime .date,
.blog-datetime .time,
.blog-datetime .icon-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.blog-datetime {
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog-datetime .icon-wrapper {
    width: 3rem;
    height: 3rem;

    border-radius: 50%;
}

.icon-wrapper img {
    margin: auto;
}

.date .icon-wrapper {
    background-color: rgb(244, 221, 160, 0.4);
}

.time .icon-wrapper {
    background-color: rgb(160, 223, 244, 0.4);
}

.blog-img-wrapper {
    width: 100%;
    height: 25rem;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
}

.article:nth-child(1) .blog-img-wrapper {
    background-image: url('../images/blog1.png');
}

.article:nth-child(2) .blog-img-wrapper {
    background-image: url('../images/blog2.png');
}

.article:nth-child(3) .blog-img-wrapper {
    background-image: url('../images/blog3.png');
}

.blog-title {
    font-size: 2.2rem;
    font-weight: 600;

    margin: 2rem 0;
}

/* testimonial section */
.testimonials {
    gap: 8rem;
}

.client-list {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
}

.intro h4 {
    margin: 2rem 0;
}

.client {
    flex: 34rem;

    padding: 4rem;
    border-radius: 3rem;
    box-shadow: 0px 16px 85px rgba(189, 223, 246, 0.45);
}

.client-details {
    display: flex;
    align-items: center;
    gap: 2rem;

    margin-bottom: 2rem;
}

.client-details img {
    width: 7rem;
    border-radius: 50%;
}

.client-details .count {
    text-align: center;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    margin-left: auto;
    background-color: #f8f4f4;
    border-radius: 50%;
}

/* media queries */

@media screen and (max-width: 1160px) {
    .testimonials {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 1024px) {
    .menu {
        display: inline-block;
    }

    .nav-bar {
        flex-direction: column;
        align-items: stretch;
        gap: 1rem;
    }

    .nav {
        display: none;
    }

    .nav.menu-open {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }
}

@media screen and (max-width: 768px) {

    .hero,
    .services-section,
    .numbers-section {
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {

    .header-main-wrapper,
    .brands,
    .features,
    .services-section,
    .numbers-section,
    .blog,
    .testimonials {
        padding: 4rem;
    }

    .header-main-wrapper,
    .numbers-section {
        background-position: -9rem 0;
    }

    .hero-text h1 {
        font-size: 4rem;
    }

    .features,
    .article-list {
        grid-template-columns: 1fr;
    }

    .services-section {
        background-position: 100% top, right -8rem top;
    }

    .section-title {
        font-size: 3.2rem;
    }

    .service-item {
        padding: 1rem;
    }

    .service-item:nth-child(2) {
        padding-bottom: 2rem;
    }

    .service-item p {
        font-size: 1.6rem;
    }

    .service-item .round {
        width: 4rem;
        height: 4rem;

        box-shadow: 0 1rem #f9f8f8;
    }

}

@media screen and (max-width: 420px) {
    .client-details {
        flex-direction: column;
        align-items: flex-start;
    }

    .client-details .count {
        display: none;
    }
}